<section>
    <label>{{include.label|capitalize}}:</label>
    {% for element in include.collection %}
        {% assign element_lc = {{element|downcase}} %}
        {% assign icon = {{element_lc}} %}
        {% if site.data.devicons[element_lc] %}{% assign icon = site.data.devicons[element_lc] %}{% endif %}
        <span class="bubble"><span class="devicons devicons-{{icon}}"></span>{{element}}</span>
    {% endfor %}
</section>  