<nav class="menu noselect">
	<section>
		{% include menusection.html section=site.data.menu.items %}
	</section>

	<footer>
		{% include menusection.html section=site.data.menu.footer %}
	</footer>
</nav>