{% assign defaultlink = key|prepend: "/"|append: "/" %}
{% if include.active == true %}
    {% assign active = 'active' %}
{% endif %}

<div data-section="{{ include.item.section }}" class="item hover-show-wrapper {{ active }} {{ include.item.class }}">
    <a href="{{ include.item.link|default: defaultlink }}" target="{{ include.item.target }}" class="link">
        <div class="icon icon-{{ include.item.size|default: medium }} hover-highlight {{ active }}" {% if include.item.background %} style="background-image: url('{{include.item.background}}')"
            {% endif %}>{% if include.item.icon %}<i class="fa fa-{{ include.item.icon }}" aria-hidden="true"></i>{% endif %}</div>
    </a>

    {% if include.item.label %}
        <div class="label hover-show">
            <span>{{ include.item.label }}</span>
        </div>
    {% endif %}
</div>