<article>
  <header>
    {% if include.title %}
    <h1>{{ include.title }}</h1>
    {% endif %}{% if include.href %}<a href="{{ href }}"
      ><i class="fa fa-link"></i>{% endif %}</a
    >
  </header>
  {% if include.content %} {{ include.content }} {% endif %}
</article>
