html,
body {
  width: 100%;
  height: 100%;
  background: $color-background-primary;
  color: $color-text-primary;
  display: flex;
  font-family: "Fira Code";

  @include media-tablet {
    flex-direction: column;
  }
}

html {
  @include media-hidpi {
    font-size: 2em;
  }
}

::selection {
  background: $color-item-secondary;
}

.bubble {
  border: 1px solid black;
  background: black;
  border-radius: 0.5em;
  padding: 0.5em;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;

  > canvas {
    position: fixed;

    @include media-tablet {
      left: 0px;
    }

    @include media-desktop {
      top: 0px;
    }
  }

  section {
    margin-top: 1em;
    margin-bottom: 1em;

    label {
      text-align: right;
      display: inline-block;
      min-width: 6em;
    }

    .devicons {
      margin-right: 0.25em;
      position: relative;
      top: 0.25em;
      font-size: 2em;
    }
  }
}
