/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-code-pro/source-code-pro-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Source Code Pro"), local("SourceCodePro-Regular"),
    url("../fonts/source-code-pro/source-code-pro-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/source-code-pro/source-code-pro-v8-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/source-code-pro/source-code-pro-v8-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/source-code-pro/source-code-pro-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/source-code-pro/source-code-pro-v8-latin-regular.svg#SourceCodePro")
      format("svg"); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraCode/distr/eot/FiraCode-regular.eot"); /* IE9 Compat Modes */
  src: local("Fira Code"), local("FiraCode-Regular"),
    url("../fonts/FiraCode/distr/eot/FiraCode-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/FiraCode/distr/woff2/FiraCode-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/FiraCode/distr/woff/FiraCode-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/FiraCode/distr/ttf/FiraCode-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/FiraCode/distr/svg/FiraCode-regular.svg#FiraCode")
      format("svg"); /* Legacy iOS */
}
