$color-background-primary: #383838;
$color-background-secondary: #252526;

$color-header-primary: #D19A66;
$color-header-secondary: #E06C75;

$color-item-primary: #1E1E1E;
$color-item-secondary: #264f78;

$color-highlight-primary: #A878D2;
$color-highlight-secondary: #007ACC;

$color-text-primary: #ABB2BF;
$color-text-secondary: #FFFFFF;