.hover-show {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.show,
  .hover-show-wrapper:hover &,
  section:not(:hover) .hover-show-wrapper.show & {
    visibility: visible;
    opacity: 1;
  }
}

.hover-highlight {
  &.highlight,
  :active > &,
  :hover > &,
  .hover-highlight-wrapper:hover &,
  .hover-highlight-wrapper:active & {
    background-color: $color-background-primary;
  }
}
