@mixin media-mobile {
	@media only screen and (max-width : $size-tablet) {
		@content;
	}
}

@mixin media-tablet {
	@media only screen and (max-width : $size-desktop) {
		@content;
	}
}

@mixin media-desktop {
	@media only screen and (min-width : $size-desktop+1) {
		@content;
	}	
}

@mixin media-hidpi {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
		@content;
	}
}