article {
  padding: 1em;
  margin: 1em;
  background-color: $color-item-primary;
  border-top: 8px solid;
  border-radius: 8px;
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 84em;

  h1 {
    font-size: 1.5em;
    color: $color-header-secondary;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  h2 {
    color: $color-header-primary;
    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .post & {
    flex-basis: $size-post;
  }

  a {
    color: $color-header-secondary;

    &:visited {
      color: $color-header-primary;
    }

    &:hover {
      color: $color-text-primary;
    }
  }

  pre {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-left: 0.2em solid $color-highlight-primary;
    background-color: $color-background-secondary;
    overflow-x: auto;
  }

  @include media-tablet {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 90%;
  }

  @include media-desktop {
    margin-left: 1em;
    margin-right: 1em;
  }
}
