nav.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  z-index: 1;

  @include media-mobile {
    margin-left: 0px;
  }

  > h1 {
    width: 100%;
    font-size: 2.5em;
    color: $color-header-primary;
    border: 0px !important;
    margin-top: 2em;
  }

  > * {
    width: 32em;
    margin-bottom: 1em;
    border-bottom: 1px solid $color-item-primary;
    border-left: 1px solid $color-item-primary;
    border-right: 1px solid $color-item-primary;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease-in;

    @include media-desktop {
      margin-right: 3em;
    }

    h2 {
      font-size: 1.5em;
    }

    img {
      width: 100%;
      max-height: 12em;
      object-fit: cover;
      margin-bottom: -3px;
    }

    .header {
      transition: background-color 0.25s ease-in, border-color 0.25s ease-in;
      padding: 1em;
      background-color: $color-item-primary;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      color: $color-text-secondary;
      border-bottom: 1px solid $color-item-secondary;

      &::after {
        content: "";
        width: $size-arrow;
        height: $size-arrow;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: -($size-arrow/2);
        left: 0px;
        right: 0px;
        background-color: $color-item-primary;
        transform: rotate(45deg);
        transition: background-color 0.25s ease-in, border-color 0.25s ease-in;
        border-bottom: 1px solid $color-item-secondary;
        border-right: 1px solid $color-item-secondary;
      }

      > .content {
        padding-bottom: 1.5em;
      }

      > * {
        width: 100%;
      }
    }

    &:hover {
      .header {
        border-color: $color-item-secondary;
        background-color: $color-item-secondary;
      }

      .header::after {
        border-color: transparent $color-item-secondary $color-item-secondary
          transparent;
        background-color: $color-item-secondary;
      }
    }
  }
}
