nav.menu {
    color: $color-text-secondary;
    z-index: 20000;
    background: $color-background-secondary;
    height: 100%;
    width: $size-menu;
    position: fixed;
    
    @include media-tablet {
        width: 100%;
        height: $size-menu;

        + * {
            margin-top: $size-menu;
        }
    }

    @include media-desktop {
        + * {
            margin-left: $size-menu;
        }
    }

    &, > * {
        display: flex;
        flex-direction: column;
        
        @include media-tablet {
            flex-direction: row;
        }
    }

    > section {
        flex: 1;
    }

    .item {
        width: $size-menu;
        height: $size-menu;

        @include media-desktop {
            display: flex;
        }

        &.active {
            background-color: $color-background-primary;
            border-right: 1px solid $color-background-primary;
        }

        &:not(.active) {
            transition: border-color 0.5s ease;
        }

        .label {
            position: absolute;
            text-align: center;
            transition:opacity 0.25s ease-out;

            padding-left: 1em;
            height: $size-menu;
            background-color: $color-background-secondary;
            padding-right: 1em;
            align-content: center;
            align-items: center;
            display: flex;

            @include media-tablet {
                box-shadow: 0 1px 0 $color-background-primary, 1px 1px 0 $color-background-primary, -1px 1px 0 $color-background-primary;
            }

            @include media-desktop {
                box-shadow: 0 -1px 0 $color-background-primary, 1px 1px 0 $color-background-primary, 0px 1px 0 $color-background-primary;
                margin-left: 3em;
            }
        }
        
        .link {
            display: flex;
            text-decoration: none;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .links {
            pointer-events: all;
        }
        
        .icon {
            background-size: 100%;
            transition: background 0.4s ease-out, border-radius 0.4s ease-out;
            border-radius: 1em;
            justify-content: center;
            display: flex;

            &, &medium {
                width: 1em;
                height: 1em;
                padding: 0.5em;
            }

            &large {
                width: 75%;
                height: 75%;
                padding: 0px;
            }

            i {
                color: $color-text-secondary;
            }
        }
    }
}