---
layout: default
---

<main class="blog">
  <nav class="list">
    {% assign coll = site[page.collection] | reverse %} {% for post in coll %}
    {% assign href=false %} {% if post.link %} {% assign href=post.link %} {%
    endif %} {% include post.html href=href title=post.title
    content=post.content %} {% endfor %}
  </nav>
</main>

<script>
  function sparkles() {
    var target = document.querySelector("main.blog");
    var canvas = document.querySelector("canvas.sparkles");
    if (!canvas) {
      canvas = document.createElement("canvas");
      canvas.classList.add("sparkles");
      canvas.attributes["sparkles:amount"] = "1";
      canvas = canvasResize(canvas, target);
      window.addEventListener(
        "resize",
        () => canvasResize(canvas, target),
        false
      );

      target.append(canvas);

      const ctx = canvas.getContext("2d");
      run(ctx);
    } else {
      canvas.attributes["sparkles:amount"]++;
    }

    function run(ctx) {
      requestAnimationFrame(() => {
        render(ctx);
        run(ctx);
      });
    }

    function render(ctx) {
      ctx.resetTransform();
      ctx.fillStyle = "rgba(0, 0, 0, 0.1)";
      ctx.fillRect(0, 0, canvas.width, canvas.height);

      const sparklesAmount = canvas.attributes["sparkles:amount"];
      for (var i = 0; i < sparklesAmount; i++) {
        const position = {
          x: canvas.width * Math.random(),
          y: canvas.height * Math.random()
        };
        renderStar(ctx, position, 8);
      }
    }

    function renderStar(ctx, { x, y }, radius) {
      const star = {
        x: x - radius / 2,
        y: y - radius / 2,
        radius
      };

      ctx.beginPath();
      ctx.arc(star.x, star.y, radius, 0, 2 * Math.PI, false);
      ctx.fillStyle = "rgb(255,255,255)";
      ctx.fill();
      ctx.strokeStyle = "rgb(255,255,255)";
      ctx.stroke();
    }

    function canvasResize(canvas, target) {
      canvas.width = target.clientWidth;
      canvas.height = target.clientHeight;

      return canvas;
    }
  }
</script>
