<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/styles/index.css" />
	<meta name="description" content="{{site.description}}" />
	<meta name="author" content="{{site.author}}" />
	<link rel="author" href="humans.txt" />
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
</head>

<body>
	{% if site.data.menu %} {% include menu.html %} {% endif %}

	{{ content }}

	<script src="{{site.baseurl}}/assets/scripts/index.js"></script>
</body>

</html>