---
layout: default
---
<main>
    <nav class="list">
        {% assign coll = site[page.collection] | reverse %}
        {% for post in coll %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                <h1 class="separator">{{ currentdate }}</h1>
                {% assign date = currentdate %} 
            {% endif %}

            {% assign href=post.url %}
            {% if post.link %}
                {% assign href=post.link %}
            {% endif %}
            <a href="{{ href }}">
                <div class="header">
                    <h2>{{ post.title }}</h2>
                    <div class="content">
                        {% if post.description %}
                            {{post.description}}
                        {% endif %}
                    </div>
                </div>
                <img src="{{post.thumbnail}}">
            </a>
        {% endfor %}
    </nav>
</main>